@use 'src/styles/_vars';

.home {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: vars.$gutter;

    // For Tablets & up
    @media (min-width: vars.$minWidthTablet) {
      grid-template-columns: repeat(8, 1fr);
    }
    @media (min-width: vars.$minWidthDesktop) {
      grid-template-columns: repeat(8, 1fr);
      width: 90%;
      margin: auto;
    }
    @media (min-width: vars.$minWidthLargeDesktop) {
      width: 70%;
    }
  }

}
